

.search{
    height: 100%;
    position: relative;
    // background-color: blue;
}
.results_list{ 
    width: 100%;
    background-color: black;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    a{
        padding:10px;
        font-weight: 600;
        color:white;
        font-size:13px;
    }
}
.result{
   
}