# Virtual environment
.venv
.env
venv
env

# python cache file
/**/*/__pycache__

# other environment files
/**/*/.idea
.vscode

# session
server/flask_session

# other environment files
.idea
.vscode
.idea/workspace.xml

# session
flask_session

package.json
package-lock.json