# Virtual environment
.venv
.env
venv
env

# python cache file
/**/__pycache__

# other environment files
/**/.idea
.vscode

# session
/**/flask_session

package.json
package-lock.json

.env.shared
.env.secret