.search{
    width: 100%;
    height: 40px;
    padding:10px;
    padding-left:40px;
    outline: none;
    

}.changeName{
    h1{
        font-size: 14px;
    }
    width: 100%;
}
.iconSearch{
    position: absolute;
    left:10px;
    top:8px;
}
.searchParent{
    position: relative;
    margin-top:10px;
}
.changeProfile{

}