
    <div class="">
        <h2>Xác thực email để hoàn thành đăng ký</h2>
        <div style="height: 2px" class="col-3 border-bottom border-2"></div>
        <p class="my-3">Cảm ơn bạn đã đăng ký tài khoản tại <strong>ba tô phở</strong></p>
        <p class="col-7">Để hoàn thành quá trình đăng ký, bạn vui lòng xác thực email của bạn bằng cách nhấn vào nút bên dưới hoặc sử dụng đường link này
            <a class="text-decoration-none" href="{{confirm_url}}">{{confirm_url}}</a> </p>
        <p class="col-12"><a style="display: block, padding: 10px, color" href="{{ confirm_url }}">Xác thực email của tôi</a></p>
        <br>
        <p>Trân trọng!</p>
    </div>
