<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
            table div, h2, p, a{font-family: 'Montserrat', sans-serif}
            table div, h2, p, a{color: black}
            a{text-decoration: none}
        </style>

    </head>
    <body style="margin:0; padding:0;">
        <table role="presentation" style="width:100%; border-collapse:collapse; border:0; border-spacing:0; background:#ffffff;">
            <tr>
                <td align="center" style="padding:0;">
                    <h2>Xác thực email để hoàn thành đăng ký</h2>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div style="height: 1px; width: 75%; background-color: black"></div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p class="my-3">Cảm ơn bạn đã đăng ký tài khoản tại <strong>ba tô phở</strong></p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div style="width: 300px">
                        <img style="width: 100%" src="https://i.im.ge/2023/06/18/iYxLVc.Envelope-bro.md.png" alt="decoration-img"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p class="col-7">Để hoàn thành quá trình đăng ký, bạn vui lòng xác thực email của bạn bằng cách nhấn vào nút bên dưới hoặc sử dụng đường link này
                        <a style="text-decoration-none; color: #46AAFF" href="{{confirm_url}}">{{confirm_url}}</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p class="col-12"><a style="display: block; color: white; padding: 15px; background-color: #46AAFF; width: 30%; min-width: fit-content; border-radius: 9px" href="{{ confirm_url }}">Xác thực email của tôi</a></p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p>Trân trọng!</p>
                </td>
            </tr>
        </table>
    </body>
</html>
