{% extends 'layout/base.html' %}

{% block content %}
<div class="p-3 justify-content-center d-flex">

    <form action="/users/login" method="post" class="row g-3 bg-dark text-white m-3 p-4 shadow-sm w-75">
        <div class="col-md-12">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username">
        </div>
        <div class="col-md-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="col-12">
            <button type="button" onclick="login" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>

<script>

    async function verifyRecaptcha() {
        try {
            const token = grecaptcha.getResponse();

            const data = {
                token: token
            };

            const response = await fetch('/verify-recaptcha', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();

            if (result.success) {
                return true;
            } else {
                return false;
            }
        } catch (error) {
            console.error(error);
            return false;
        }
    }

    async function login() {
        try {
            var success = await verifyRecaptcha();

            if (success) {
                const form = document.getElementById("form-login");
                form.submit();
            } else {
                alert("Xác minh không thành công");
            }
        } catch (error) {
            console.error(error);
            alert("Xác minh không thành công");
        }
    }
</script>

{% endblock %}
