* {
    box-sizing: border-box;
    margin: 0 0;
}
$font-size: 18px;

body {
    overflow-x: hidden;
}
.banner {
    display: flex;
    justify-content: center;
}

.subHome {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: solid 2px;
    border-radius: 15px;

    margin-bottom: 5px;
    .subHome_left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 16px 0 0 0;
        border-bottom: solid 2px;
        > h1 {
            cursor: pointer;

            font-size: 20px;
            width: 50%;
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
        }
    }
    .subHome_right {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        > h1 {
            cursor: pointer;
            font-size: 20px;
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
            width: 50%;
        }
        border-bottom: solid 1px;
    }
}
.moreOption {
    h2 {
        font-size: 12px;
        display: flex;
        justify-content: center;
        color: blue;
        align-items: center;
        font-weight: 400;

        span {
        }
        &:hover {
            cursor: pointer;
        }
    }
    h1 {
        font-size: $font-size;
    }
}
.content {
    display: flex;
    width: 100%;
    .content_left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        h1 {
            font-size: $font-size;
            margin-left: 10px;
        }
        width: 100%;
    }
    .content_right {
        width: 100%;
        h1 {
            font-size: $font-size;
            margin-left: 10px;
        }
    }
}
.listItem {
    border-bottom: solid 1px;
    border-radius: 10px;
    padding: 10px 10px 30px 12px;
}
.subItem {
    display: flex;
    width: 50%;
}
.mainHome {
    position: relative;
    .register {
        // position: absolute;
        // top: 30%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
}
