@import 'src/variables';

.wrapper {
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $header-bg-color;
}

.logo {
    height: 60px;
    width: 60px;
}

.menu {
    height: 25px;
}

.sub-menu {
    position: relative;
    cursor: pointer;

    > ul {
        top: 25px;
        height: 0;
        position: absolute;
        overflow: hidden;
        transition: height ease 0.3s;
        z-index: 1;

        > li {
            min-width: max-content;

            &:hover {
                background-color: #eee;
            }
        }
    }

    &:hover > ul {
        height: max-content;
    }
}
