.description {
    position: relative;
    margin-top: 45px;
    border: 1px solid orange;
    padding: 5px;

    &-img {
        max-width: 100%;
    }

    &::before {
        content: 'MÔ TẢ CHI TIẾT';
        position: absolute;
        top: -45px;
        left: -1px;
        height: 45px;
        padding: 10px 25px;
        background-color: orange;
        color: white;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

.action {
    display: flex;
    border: 1px solid;
    border-left-width: 5px;
    border-right-width: 5px;
}
