{% extends 'admin/base.html' %}

{% block head_tail %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}


{% block body %}
{% if current_user.is_authenticated and current_user.user_role.value == 1 %}
<h3 class="m-0">Hello {{current_user.name}},</h3>
<small class="text-muted">Let check your stats!</small>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#download">Lượt tải</a>
    </li>
    <li onclick="clickStatUpload()" class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#upload">Lượt đăng</a>
    </li>
    <li onclick="clickStatConversionRate()" class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#conversionRate">Tỷ lệ chuyển đổi</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="download">
        <div class="p-3 bg-light my-4 mx-5">
            <h5>Thống kê lượt download</h5>
            <div class="bs-component">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <div class="form-group">
                            <label for="chartDownloadPeriod">Period *</label>
                            <select required class="form-control" id="chartDownloadPeriod">
                                <option value="hour">Giờ</option>
                                <option selected value="day">Ngày</option>
                                <option value="month">Tháng</option>
                                <option value="year">Năm</option>
                            </select>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="form-group">
                            <label for="chartDownloadStartTime">Thời gian từ</label>
                            <input type="date" class="form-control" id="chartDownloadStartTime"
                                   placeholder="Thời gian bắt đầu">
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="form-group">
                            <label for="chartDownloadEndTime">Thời gian từ</label>
                            <input type="date" class="form-control" id="chartDownloadEndTime"
                                   placeholder="Thời gian bắt đầu">
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="form-group">

                            <label for="chartDownloadBtnReset"></label>
                            <input onclick="resetChartDownload()" id="chartDownloadBtnReset" type="button" value="Reset"
                                   class="mt-auto btn btn-outline-primary form-control"/>
                            </input>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="form-group">
                            <label for="chartDownloadBtnSubmit"></label>
                            <input onclick="submitChartDownload()" id="chartDownloadBtnSubmit" type="button"
                                   value="Submit"
                                   class="mt-auto btn btn-primary form-control"/>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <div class="col-8">
                    <canvas id="chartDownloads"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="chartCateDownloads"></canvas>

                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="upload">
        <div class="p-3 bg-light my-4 mx-5">
            <h5>Thống kê lượt Uploads</h5>
            <div class="bs-component">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <div class="form-group">
                            <label for="chartUploadPeriod">Period *</label>
                            <select required class="form-control" id="chartUploadPeriod">
                                <option value="hour">Giờ</option>
                                <option selected value="day">Ngày</option>
                                <option value="month">Tháng</option>
                                <option value="year">Năm</option>
                            </select>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="form-group">
                            <label for="chartUploadStartTime">Thời gian từ</label>
                            <input type="date" class="form-control" id="chartUploadStartTime"
                                   placeholder="Thời gian bắt đầu">
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="form-group">
                            <label for="chartUploadEndTime">Thời gian từ</label>
                            <input type="date" class="form-control" id="chartUploadEndTime"
                                   placeholder="Thời gian bắt đầu">
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="form-group">

                            <label for="chartUploadBtnReset"></label>
                            <input onclick="resetChartUpload()" id="chartUploadBtnReset" type="button" value="Reset"
                                   class="mt-auto btn btn-outline-primary form-control"/>
                            </input>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="form-group">
                            <label for="chartUploadBtnSubmit"></label>
                            <input onclick="submitChartUpload()" id="chartUploadBtnSubmit" type="button"
                                   value="Submit"
                                   class="mt-auto btn btn-primary form-control"/>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <div class="col-8">
                    <canvas id="chartUploads"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="chartCateUploads"></canvas>

                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="conversionRate">
        <div class="p-3 bg-light my-4 mx-5">
            <h5>Thống kê tỉ lệ chuyển đổi giữa view với download</h5>
            <div class="d-flex">
                <div class="col-12">
                    <canvas id="chartConversionRate"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>


{% else %}
<div class="p-3 justify-content-center d-flex">
    <form id="form-login" action="/admin/login" method="post" class="row g-3 bg-dark text-white m-3 p-4 shadow-sm w-75">
        <div class="col-md-12">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username">
        </div>
        <div class="col-md-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="col-12 mt-4 d-flex justify-content-center">
            <div class="g-recaptcha" data-sitekey="6Lc6fCMnAAAAAJDFAZxx98ZFiEUXENtCdiacVb2L"></div>
        </div>
        <div class="col-12 mt-4 d-flex justify-content-center">
            <button type="button" onclick="login()" class="btn btn-primary w-100">Sign in</button>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}

{% block tail %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% if current_user.is_authenticated and current_user.user_role.value == 1 %}
<script>
        window.onload = function() {
            download_values = {{download_values}}
            download_labels = JSON.parse('{{ download_labels|tojson }}');
            drawBasicChart(download_values,download_labels,"chartDownloads", "Lượt tải", "bar")

            download_cate_values = {{download_cate_values}}
            download_cate_labels = JSON.parse('{{ download_cate_labels|tojson }}');
            drawBasicChart(download_cate_values,download_cate_labels,"chartCateDownloads", "Lượt tải", "doughnut")
        }

        function clickStatUpload() {
                upload_values = {{upload_values}}
                upload_labels = JSON.parse('{{ upload_labels|tojson }}');
                drawBasicChart(upload_values,upload_labels,"chartUploads", "Lượt đăng", "bar")

                upload_cate_values = JSON.parse('{{upload_cate_values|tojson}}');
                upload_cate_labels = JSON.parse('{{ upload_cate_labels|tojson }}');
                drawBasicChart(upload_cate_values, upload_cate_labels, "chartCateUploads", "Lượt đăng", "doughnut")
            }

        function clickStatConversionRate() {
                conversion_rate_values = JSON.parse('{{conversion_rate_values|tojson}}');
                conversion_rate_labels = JSON.parse('{{ conversion_rate_labels|tojson }}');
                drawBasicChart(conversion_rate_values,conversion_rate_labels,"chartConversionRate", "%", "bar")
        }





</script>

<script src="{{ url_for('static', filename='js/admin/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/stat.js') }}"></script>
{% else %}
<script>

    async function verifyRecaptcha() {
        try {
            const token = grecaptcha.getResponse();

            const data = {
                token: token
            };

            const response = await fetch('/verify-recaptcha', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();

            if (result.success) {
                return true;
            } else {
                return false;
            }
        } catch (error) {
            console.error(error);
            return false;
        }
    }

    async function login() {
        try {
            var success = await verifyRecaptcha();

            if (success) {
                const form = document.getElementById("form-login");
                form.submit();
            } else {
                alert("Xác minh không thành công");
            }
        } catch (error) {
            console.error(error);
            alert("Xác minh không thành công");
        }
    }
</script>
{% endif %}
{% endblock %}