@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

input[type='file']::-webkit-file-upload-button {
    border: 1px solid #84c52c;
    border-radius: 5px;
    color: #84c52c;
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
}

@for $i from 1 through 8 {
    .g-#{$i} {
        gap: calc(0.25rem * $i);
    }
}
