@import url('https://rsms.me/inter/inter-ui.css');
.btn-color{
  background-color: #0e1c36;
  color: #fff;

}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}
.loginn{
   font-family: 'Inter UI', sans-serif;
    font-size: 50px;
     font-weight: 900;
}
body{
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
   background-position: ;
   background-size:cover;
  background-repeat: no-repeat;


}
.submit__login:hover > button{
    color:#ff6a00;
}