.form__register{
        width: 85%;
    margin: 0 auto;
    margin-top:40px;
}
.container > h3{
    font-size:
18px;
font-weight:
700;
line-height:
19.8px;
text-transform:
uppercase;
margin-top:20px;
}
.products__banner{
    position:relative;
}
.form__search{
    width: 900px;
    height: 112px;
    background: #2a2a2a;
    position: absolute;
    justify-content: space-around;
    left: 485px;
    bottom: 0;
    border-top: 3px solid #ff6a00;
}
.form__search > input{
    width:525px !important;
    height:44px;
    border-radius: unset;
}
.form__search > button{
    width:155px;
    height:45px;
    background-color:  #ff6a00;
    border-color: #ff6a00;
    color: white;
    border-radius: unset;
}
.form__search > button > img{
    margin-right:10px;
    width: 16px;
    height: 16px;
}
.container{

    margin-top:10px;
    border: 1px solid #DCDEE3;
}
