{% extends 'layout/base.html' %}

{% block title %} Giỏ hàng {% endblock %}

{% block content %}
<div class="container">
    <h3> Giỏ hàng </h3>

{% if 'cart' in session and session['cart'] %}
<table class = "table table-hover table-bordered table-sm">
    <tr class="tr_head">
        <th  class="th_head">
            Mã sản phẩm
        </th>
        <th class="th_head">
            Tên sản phẩm
        </th>
        <th class="th_head">
            Đơn giá
        </th>
        <th class="th_head">
            Số lượng
        </th>

    </tr>

    {% for c in session['cart'].values() %}
    <tr id = "product{{c.id}}">
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{ "{:,.0f}".format(c.price) }} VNĐ</td>
        <td>
            <div class="form-group">
                <input type="number" min="1" value="{{c.quantity}}" class="form-control" onblur="updateCart({{c.id}}, this)"/>
            </div>
        </td>
        <td>
            <input type="button" value="Xóa" class="btn btn-danger" onclick="deleteCart({{c.id}})"/>
        </td>
    </tr>
    {% endfor %}
</table>

<div class = "alert alert-info">
    <h5>Tổng sản phẩm: <span class="cartCounter"> {{cart_stats.total_quantity}}</span></h5>
    <h5> Tổng tiền: <span id="totalAmount">{{"{:,.0f}".format(cart_stats.total_amount)}} VND</span></h5>
</div>

{%if current_user.is_authenticated %}
<input type="button" value="Thanh toán" class = "btn btn-success" style = "margin-bottom: 15px" onclick ="pay()"/>


{%else%}
<a href="{{url_for('user_signin', next = 'cart')}}">Đăng nhập để thanh toán</a>
{%endif%}
<br>
<br>
{%else%}
<p>Không có sản phẩm nào trong giỏ !</p>

{%endif%}

</div>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/css/cart.css"/>
{%endblock%}