{% extends 'layout/base.html' %}

{% block title %} Trang chu {% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/jsHoang.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

{%endblock%}


{% block content %}


<div class="banner">

    <form class="form-inline form__search">
        <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Nhập từ khóa để tìm kiếm..."
               aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img
                src="https://img.alicdn.com/imgextra/i1/O1CN01WaDuwO256WBsSocYY_!!6000000007477-2-tps-48-48.png" alt="">Tìm
            kiếm
        </button>
    </form>
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://nxbhcm.com.vn/slider/data1/images/newebookt12_2.jpg" alt="Los Angeles"
                     class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://nxbhcm.com.vn/slider/data1/images/newebookt12_2.jpg" alt="Chicago"
                     class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://nxbhcm.com.vn/slider/data1/images/newebookt12_2.jpg" alt="New York"
                     class="d-block w-100">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

</div>

<div class="main">
    <div class="main__category">
        <h2>Danh mục sản phẩm</h2>
        <ul>
<!--            Lặp qua tất cả thể loại-->
            {% for c in categories %}
            <li class=".main__category--name" style="
             padding: 10px;line-height:22.8571px; margin:5px;

">
                <a href="/products?category_id={{c.id}}" class="category__name">{{c.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="main__products">
        <div class="row">

            <div class="col-md-4 col-sm-12" style="padding:1rem;">
                <div class="kode-service" data-selected="true" data-label-id="0" data-metatip="true">
                    <box-icon type='solid' name='gift' size="lg" class="top__icon"></box-icon>
                    <h3><a href="#">ĐA NỀN TẢNG</a></h3>
                    <p>WibuBook có thể sử dụng trên hầu hết các thiết bị gồm laptop, máy tính bảng, điện thoại...</p>

                </div>
            </div>
            <div class="col-md-4 col-sm-12" style="padding:1rem;">
                <div class="kode-service" data-selected="true" data-label-id="0" data-metatip="true">
                    <box-icon name='book' type='solid' size="lg" class="top__icon"></box-icon>
                    <h3><a href="#">SÁCH BẢN QUYỀN</a></h3>
                    <p>Hàng nghìn tựa sách hay với đầy đủ bản quyền.</p>

                </div>
            </div>
            <div class="col-md-4 col-sm-12" style="padding:1rem;">
                <div class="kode-service" data-selected="true" data-label-id="0" data-metatip="true">
                    <box-icon name='truck' type='solid'  size="lg" class="top__icon"></box-icon>
                    <h3><a href="#">Thanh toán trực tuyến</a></h3>
                   <p>Hỗ trợ thanh toán trực tuyến bao gồm thẻ quốc tế lẫn ATM nội địa...</p>

                </div>

            </div>

        </div>

        <h1><span>S</span>ách mới</h1>
        <div class="row">
            {% for p in products %}
            <div class="col-md-4 col-sm-12" style="padding:1rem;">
                <div class="card" style="height:430px; width: 250px">
                    <img class="card-img-top" src="{{ p.image }}" alt="{{ p.name }}"
                         style="padding:20px; height:280px;">
                    <div class="card-body">
                        <h4 class="card-title" style="font-size: 16px">{{ p.name }}</h4>
                        <p class="card-text" style="font-size: 14px">{{ "{:,.1f}".format(p.price) }} VNĐ</p>
                        <a href="{{url_for('product_detail', product_id=p.id)}}" class="btn btn-primary">Xem chi
                            tiết</a>
                        <a href="javascript:;" onclick="addToCart({{p.id}}, '{{p.name}}', {{p.price}})"
                           class="btn btn-danger" onclick="addToCart({{p.id}}, '{{p.name}}', {{p.price}})">Đặt hàng</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/index.css"/>
{%endblock%}


