{% extends 'layout/base.html' %}

{% block title %} Đăng ký {% endblock %}

{% block css %}
    <link href="{{ url_for('static', filename='css/register.css') }}"
          rel="stylesheet"/>

{%endblock%}


{% block content %}


{% if err_msg != ''%}
<div class="alert alert-danger">
    <h4>{{err_msg}}</h4>
</div>
{%endif%}
<div class="products__banner">
    <img src="https://sachweb.com/images/inner-banner.png" alt="">
    <form class="form-inline form__search">

        <input class="form-control mr-sm-2 search" name="keyword" type="search" placeholder="Nhập từ khóa để tìm kiếm..."
               aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img
                src="https://img.alicdn.com/imgextra/i1/O1CN01WaDuwO256WBsSocYY_!!6000000007477-2-tps-48-48.png" alt="">Tìm
            kiếm
        </button>
    </form>
</div>

<div class="container">
    <h3>Đăng kí tài khoản</h3>
    <div class="form__register">
        <form method="post" enctype="multipart/form-data" action="/register">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" required id="name" placeholder="Nhập họ tên" name="name">
        <label for="name">Họ tên</label>
    </div>
    <div class="form-floating mb-3 mt-3">
        <input type="mail" class="form-control" required id="email" placeholder="Nhập Email" name="email">
        <label for="email">Email</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" required id="username" placeholder="Nhập tên đăng nhập" name="username">
        <label for="username">Tên đăng nhập</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" required id="password" placeholder="Nhập mật khẩu" name="password">
        <label for="password">Mật khẩu</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" required id="confirm" placeholder="Nhập xác nhận mật khẩu"
               name="confirm">
        <label for="confirm">Xác nhận mật khẩu</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="file" class="form-control" id="avatar" name="avatar" style="padding: 40px 0px 40px 10px;">
        <label for="avatar">Ảnh đại diện</label>
    </div>
    <div class="form-floating mt-3 mb-3">
        <input type="text" class="form-control" id="diachi" name="diachi" required>
        <label for="diachi">Địa chỉ</label>
    </div>
    <div>
        <input style="margin-bottom:20px;" type="submit" value="Đăng ký" class="btn btn-danger"/>
    </div>
</form>

    </div>

</div>

</body>
</html>
{% endblock %}
